/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Fin reset*/

/*Fonts*/
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/*Utilities*/

html, body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 16px;
}

.footerPartners {
  background-color: #fe009a;
  padding: 20px 0;
  width: 100%;
}

.footerPartners__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.footerPartners__text {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footerPartners__imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

@media (min-width: 768px) {
  .footerPartners__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footerPartners__text {
    font-size: 34px;
    margin-bottom: 0px;
  }

  .footerPartners__imgs {
    flex-direction: row;
  }
  
}


.footerContact {
  background-color: #9200d8;
  padding: 16px 0;
  color: white;
}

.footerContact__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  align-items: center;
}

.footerContact__address {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.footerContact__address svg, .footerContact__phone svg  {
  width: 12px;
}

.footerContact__phone {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.footerContact__email {
  background-color: white;
  color: #9200d8;
  font-size: 14px;
  text-align: center;
  padding: 15px 20px;
}

@media (min-width: 1024px) {
  .footerContact__container {
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
  }
}


.bgPhone {
  padding: 50px 0;
}

.bgPhone__img {
  width: 100%;
  height: 300px;
  background: url("../images/bg-phone.jpeg") center center no-repeat #fff;
  background-size: cover;
}

@media (min-width: 768px) {
  .bgPhone {
    padding: 190px 0;
  }

  .bgPhone__img {
    height: 824px;
  }
  
}

/** estilo menu*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(67,11,138);
  opacity: 0.671;
  width: 100%;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    /* background-color: rgb(67,11,138);
    opacity: 0.671; */
    color: #fff;
    max-width: 1360px;
  }
  
  .main-nav .logo {
  flex-shrink: 0; /* Prevent logo from shrinking when screen size reduces */
  margin-right: 20px; /* Add space between logo and right-side elements */
  }
  
  .main-nav .logo img {
    height: 50px; /* Adjust logo height as needed */
    }
    
  .main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
      
.main-nav li {
  margin-right: 20px;
  align-content: center;
  }

.main-nav a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.main-nav a:hover, a.active {
  color:#FE0EEA;
}

.main-nav .search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px; /* Add space between search bar and left-side elements */
}

.main-nav .search-input {
  flex-grow: 1; /* Allow search input to expand */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main-nav .search-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
  .main-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-nav .logo {
    margin-bottom: 20px;
  }

  .main-nav ul {
    flex-direction: column;
    margin-top: 20px;
  }

  .main-nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .main-nav .search-bar {
    width: 100%;
    margin-bottom: 20px;
  }

  /* Hamburger Menu Icon */
  .main-nav .menu-toggle {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #333;
    cursor: pointer;
  }

  .main-nav .menu-toggle:before,
  .main-nav .menu-toggle:after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }

  .main-nav .menu-toggle.active:before {
    transform: rotate(45deg);
  }

  .main-nav .menu-toggle.active:after {
    transform: rotate(-45deg);
  }

  .main-nav ul {
    display: none; /* Hide menu by default */
  }

  .main-nav.active ul {
    display: flex; /* Show menu when active */
    flex-direction: column;
  }
}