@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Fin reset*/
/*Fonts*/
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*Utilities*/
html, body {
  font-family: "Poppins", sans-serif;
  /* width: 100vw; */
}

body {
  font-family: "Poppins", sans-serif;
}

.bgPhone {
  padding: 50px 0;
}

.bgPhone__img {
  width: 100%;
  height: 300px;
  background: url("../images/bg-phone.jpeg") center center no-repeat #fff;
  background-size: cover;
}

@media (min-width: 768px) {
  .bgPhone {
    padding: 190px 0;
  }
  .bgPhone__img {
    height: 824px;
  }
}
#navbar {
  min-height: 100px;
}

/**menu */
.menu {
  display: flex;
  background-color: #430A8A;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  opacity: 0.671;
  box-shadow: 5px 0px 10px rga(0, 0, 0, 0.5);
}

.logo {
  padding: 15px 0 10px;
}

.search-bar {
  justify-content: center;
  gap: 5px;
  align-items: center;
  display: flex;
}

.search-icon {
  margin: -5px 5px;
}

.menu_items {
  max-width: 1360px;
  display: flex;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.menu_items li {
  border-radius: 3px;
  margin: 0 5px;
}

.menu_items li a {
  color: #fff;
  padding: 0px 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: flex;
}

.menu__logo {
  display: block;
}

.menu_items li a:hover, li a.active {
  color: #FE0EEA;
  transition: 0.4s;
}

.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.btn_close {
  margin-right: 30px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
  position: absolute;
  z-index: 120;
  right: 0;
}

ul.show {
  top: 0px;
  background-color: #430b8a;
  padding-top: 100px;
}

.search-bar input {
  width: 50%;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.menu__logoMobile {
  display: none;
}

@media screen and (max-width: 960px) {
  #navbar {
    min-height: 60px;
    z-index: 10;
  }
  .menu {
    height: 60px;
    background-color: rgb(67, 11, 138);
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    width: 100vw;
    opacity: 0.95;
  }
  .search-bar input {
    width: 50%;
    padding: 5px 0;
  }
  .menu__logo {
    display: none;
  }
  .menu__logoMobile {
    display: block;
  }
  .btn_menu {
    display: inline-flex;
  }
  .menu__logoMobile img {
    margin: 10px 0 10px 15px;
  }
  .menu_items {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: -100vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
  }
  .menu_items li {
    margin: 0 0 0 0;
    line-height: 50px;
    background: none;
    border-bottom: 1px solid #fff;
    display: block;
    text-align: center;
  }
  .menu_items li a {
    font-size: 20px;
    justify-content: left;
    text-decoration: none;
    padding: 0 40px;
  }
  .menu_items li:last-child {
    border-bottom: none;
  }
}
@media screen and (max-width: 413px) {
  #navbar {
    min-height: 60px;
    z-index: 10;
  }
  .show {
    top: 0px;
    background-color: #430b8a;
    padding-top: 35px;
    opacity: 0.95;
  }
  .menu_items li {
    margin: 0 0 0 0;
    line-height: 50px;
    background: none;
    border-bottom: 1px solid #fff;
    display: block;
    text-align: center;
  }
  .menu_items li:last-child {
    border-bottom: none;
  }
  .menu_items li a {
    font-size: 20px;
    justify-content: left;
    text-decoration: none;
    padding: 0 40px;
  }
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 16px;
}

.footerPartners {
  background-color: #fe009a;
  width: 100%;
  margin-top: 60px;
}

.footerPartners__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.footerPartners__text {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footerPartners__imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

@media (min-width: 768px) {
  .footerPartners__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footerPartners__text {
    font-size: 34px;
    margin-bottom: 0px;
  }
  .footerPartners__imgs {
    flex-direction: row;
  }
}
.footerContact {
  background-color: #9200d8;
  padding: 16px 0;
  color: white;
}

.footerContact__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  align-items: center;
}

.footerContact__address {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.footerContact__address svg, .footerContact__phone svg {
  width: 12px;
}

.footerContact__phone {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.footerContact__email {
  background-color: white;
  color: #9200d8;
  font-size: 14px;
  text-align: center;
  padding: 15px 20px;
}

@media (min-width: 1024px) {
  .footerContact__container {
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
  }
}
.bgBanner {
  position: absolute;
  width: 100%;
  height: 1500px;
  background: url("../images/BG-home-recortado.png") center center no-repeat #fff;
  background-size: cover;
}

.banner__container {
  max-width: 100%;
  position: relative;
  justify-content: center;
  min-height: 420px;
}

.banner__title {
  max-width: 1360px;
  margin: 0 auto;
}

.banner__title p {
  font-size: 72px;
  color: #fff;
  text-align: center;
  padding-top: 80px;
  margin-left: 250px;
  text-shadow: 2px 2px 4px #333131;
}

.banner__imgJuntos {
  text-align: right;
  margin-right: 230px;
  margin-top: 100px;
}

.banner__btn {
  text-align: center;
}

.banner__btn a {
  color: #000;
  font-size: 24px;
  border-radius: 50px;
  background-color: #e2e1e4;
  line-height: 32px;
  text-decoration: none;
  padding: 34px 37px;
  font-weight: 700;
  border-color: #333;
  margin-left: 30px;
}

.banner__btn a:hover {
  background-color: #000;
  color: #e2e1e4;
  box-shadow: 2px 2px 4px black;
}

.banner__imgPersonas {
  text-align: right;
  margin-right: 250px;
}

.banner__imgPersonas img {
  width: 400px;
  height: auto;
}

.ideas {
  margin-left: 30px;
  color: #9828ff;
}

.hacen {
  font-weight: bold;
}

.realidad {
  font-weight: bold;
  color: #C321B7;
}

.lateral {
  display: flex;
  margin-top: 180px;
}

.banner__seccionInferior {
  display: flex;
  max-width: 1360px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 70px;
}

.banner__textIzquierdo {
  line-height: 50px;
  font-size: 42px;
  color: #333;
  bottom: 0;
  margin-left: 30px;
  margin-right: 30px;
  align-self: end;
  padding-bottom: 35px;
}

.banner__textIzquierdo .bold {
  font-size: 46px;
  font-weight: bold;
}

.banner__textIzquierdo .background-color {
  color: #fff;
  background-color: #D61BC9;
  line-height: 42px;
  width: 100%;
}

.banner__video {
  position: relative;
  width: 450px;
  height: 360px;
  margin: 0 auto;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.video iframe {
  width: 100%;
  height: 100%;
}

.video frame:after {
  background: url("../images/tv3.png") center top no-repeat transparent;
  content: ""; /* Contenido vacío para el pseudoelemento */
  position: absolute; /* Posicionar el pseudoelemento absolutamente */
  top: 50%; /* Posicionar verticalmente en el centro */
  left: 50%; /* Posicionar horizontalmente en el centro */
  transform: translate(-50%, -50%); /* Centrar el pseudoelemento */
  width: 100%; /* Ancho del pseudoelemento */
  height: 100%; /* Alto del pseudoelemento */
  background-size: contain; /* Cubrir todo el área del pseudoelemento */
  z-index: 1; /* Colocar el pseudoelemento sobre la imagen principal */
}

.carousel__container {
  display: flex;
  max-width: 1360px;
  justify-content: center;
  padding: 0 15px;
}

.swiper-wrapper {
  margin-bottom: 70px;
}

.swiper-slide {
  opacity: 0.471;
  background-color: #fff;
  transform: rotate3d(3, 4, 1, -39deg) !important;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 35px;
}

.swiper-slide-active {
  opacity: 1;
  width: 100%;
  height: auto;
}

.swiper-slide-active:after {
  background: url("../images/bgphone2.png") center top no-repeat transparent;
  content: ""; /* Contenido vacío para el pseudoelemento */
  position: absolute; /* Posicionar el pseudoelemento absolutamente */
  top: 50%; /* Posicionar verticalmente en el centro */
  left: 50%; /* Posicionar horizontalmente en el centro */
  transform: translate(-50%, -50%); /* Centrar el pseudoelemento */
  width: 100%; /* Ancho del pseudoelemento */
  height: 100%; /* Alto del pseudoelemento */
  background-size: contain; /* Cubrir todo el área del pseudoelemento */
  z-index: 1; /* Colocar el pseudoelemento sobre la imagen principal */
}

.banner__imgLateral {
  width: 30px;
  margin-left: 15px;
}

@media screen and (max-width: 1024px) {
  .banner__title p {
    font-size: 65px;
  }
  .banner__seccionInferior {
    display: flex;
    max-width: 1360px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  .banner__container {
    padding-top: 0;
  }
  .banner__title {
    font-size: 60px;
    text-align: center;
    color: #fff;
    text-align: right;
    margin-right: 30px;
    padding-top: 0;
  }
  .banner__title p {
    padding-top: 80px;
    font-size: 54px;
    text-align: end;
    padding-right: 30px;
    margin-left: 0px;
  }
  .banner__imgPersonas {
    text-align: center;
    margin-right: 0;
  }
  .banner__imgPersonas img {
    width: 360px;
    height: auto;
  }
  .banner__imgJuntos {
    margin-right: 30px;
    margin-top: 70px;
    filter: drop-shadow(5px 5px 10px #000);
  }
  .banner__btn {
    text-align: center;
    margin: 0 auto;
  }
  .banner__btn a {
    color: #000;
    font-size: 24px;
    border-radius: 50px;
    background-color: #e2e1e4;
    line-height: 20px;
    text-decoration: none;
    padding: 20px 20px;
    font-weight: 700;
    border-color: #333;
    margin: 0 auto;
  }
  .lateral {
    display: flex;
    margin-top: 120px;
  }
  .banner__seccionInferior {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
  }
  .banner__textIzquierdo {
    line-height: 30px;
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
  }
  .banner__textIzquierdo .bold {
    font-size: 30px;
  }
  .banner__video {
    position: relative;
    width: 100%;
    margin: 15px auto;
  }
  .banner_video img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .banner__imgLateral {
    width: 0px;
    margin-left: 15px;
  }
  .video {
    width: 90%;
  }
  .banner__imgLateral {
    width: 0px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 414px) {
  .banner__container {
    padding-top: 0;
  }
  .banner__title {
    font-size: 60px;
    text-align: center;
    color: #fff;
    text-align: right;
    margin-right: 30px;
    padding-top: 0;
  }
  .banner__title p {
    padding-top: 50px;
    font-size: 28px;
    text-align: center;
    margin: 0 auto;
  }
  .banner__imgPersonas {
    text-align: center;
    margin-right: 0;
  }
  .banner__imgPersonas img {
    width: 80%;
    height: auto;
    margin: 15px auto;
  }
  .banner__imgJuntos {
    margin: 0 auto;
    margin-top: 70px;
    filter: drop-shadow(5px 5px 10px #000);
    width: 80%;
  }
  .banner__btn {
    text-align: center;
    margin: 0 auto;
  }
  .banner__btn a {
    color: #000;
    font-size: 20px;
    border-radius: 50px;
    background-color: #e2e1e4;
    line-height: 20px;
    text-decoration: none;
    padding: 20px 20px;
    font-weight: 700;
    border-color: #333;
    margin: 0 auto;
  }
  .lateral {
    display: flex;
    margin-top: 180px;
  }
  .banner__seccionInferior {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .banner__textIzquierdo {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 40px;
    font-size: 24px;
    width: 100%;
    margin-bottom: 30px;
  }
  .banner__textIzquierdo .bold {
    font-size: 30px;
  }
  .banner__video {
    position: relative;
    width: 100%;
    margin: 15px auto;
  }
  .banner_video img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .banner__imgLateral {
    width: 0px;
    margin-left: 15px;
  }
  .video {
    width: 90%;
  }
  .swiper-wrapper {
    margin: 0 auto;
    margin-bottom: 70px;
  }
}
.contactenos {
  background-color: #9a009a;
  opacity: 0.67;
}

.contactenos__bgbanner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url("../images/BG-contactanos2.png") right center no-repeat #4a0043;
  background-size: cover;
  z-index: -1;
  background-color: #4a0043;
}

.contactenos__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
}

.contactenos__content {
  max-width: 1360px;
  margin: 0 auto;
}

.contactenos__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
}

.contact__form {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.contact__form form {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contact__form form .form__input {
  margin: 3px 5px;
  width: 100%;
}

.contact__form form .full__input input {
  width: 100%;
  color: #000476;
}

.contact__form form .form__input input {
  border: 0;
  font-size: 24px;
  line-height: 24px;
  color: #000476;
}

.double__input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form__input--half {
  width: 48%;
  padding: 0 auto;
  margin: 3px 5px;
}

.form__input--half input {
  border: 0;
  font-size: 24px;
  line-height: 24px;
  color: #000476;
  width: 100%;
}

.contactenos__title {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

.contactenos__clausule {
  font-size: 12px;
  color: #fff;
  text-align: justify;
}

.contactenos__footer {
  background-color: #8100C8;
  opacity: 1;
  width: 100%;
}

.contactenos__map {
  margin: 0 50px;
}

.contactenos__map a img {
  width: 330px;
  padding-top: 70px;
  padding-bottom: 30px;
}

.contactenos__logo a img {
  height: 170px;
  margin-left: -50px;
}

.form__btn {
  width: 100%;
  height: 30px;
  line-height: 26px;
  background-color: #000476;
  color: #fff;
  font-size: 20px;
  border-color: 1px solid #fff;
  font-family: "Poppins";
  margin-top: 15px;
}

@media screen and (max-width: 414px) {
  .contactenos {
    background-color: #9a009a;
    opacity: 1;
  }
  .contactenos__bgbanner {
    width: 100%;
    height: calc(100vh + 165px);
    background-size: cover;
    z-index: -1;
    background-color: #4a0043;
  }
  .contact__form form {
    flex-wrap: wrap;
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  .contactenos__title {
    font-size: 20px;
    margin-top: 30px;
  }
  .contactenos__clausule {
    font-size: 10px;
    color: #fff;
    text-align: justify;
    margin: 0 131px;
    width: 90%;
    font-weight: bold;
  }
  .contactenos__map a img {
    width: 230px;
    padding-top: 31px;
    padding-bottom: 20px;
  }
  .contactenos__logo a img {
    height: 120px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .contactenos {
    background-color: #9a009a;
    opacity: 1;
  }
  .contactenos__bgbanner {
    width: 100%;
    height: calc(100vh + 165px);
    background-size: cover;
    z-index: -1;
    background-color: #4a0043;
  }
  .contactenos__map a img {
    width: 255px;
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .contactenos__title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-top: 40px;
  }
  .contactenos__clausule {
    font-size: 12px;
    color: #fff;
    text-align: justify;
    font-weight: bold;
  }
}
@media screen and (max-width: 1024px) {
  .contactenos__bgbanner {
    width: 100%;
    height: 104vh;
    background-size: cover;
    z-index: -1;
    background-color: #4a0043;
  }
  .contactenos__map a img {
    width: 265px;
    padding-top: 70px;
    padding-bottom: 30px;
  }
}
.servicios {
  opacity: 0.9;
}

.servicios__bgbanner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url("../images/BG-herramientas.png") right center no-repeat #4a0043;
  background-size: cover;
  z-index: -1;
  background-color: #4a0043;
}

/*
.servicios__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.servicios__content {
  max-width: 1360px;
  justify-content: center;
  width: 1360px;
  height: 900px;
  background-color: aqua;
  opacity: 0.8;
  display:grid;
}

.servicios__footer {
  background-color: #181833;
  width: 100%;
}
*/
.contenedor {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 57px;
}

.seccion-izquierda {
  width: 680px; /* El doble de ancho que la sección derecha */
  padding: 30px;
}

.seccion-izquierda h1 {
  color: #d9008a;
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0px;
}

.imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 imágenes por fila */
  gap: 10px;
}

.seccion-derecha {
  width: 340px;
  padding: 20px 0px 0px 260px;
  text-align: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.content__title {
  width: 100%;
  justify-content: center;
  display: flex;
}

h2, h3 {
  margin-bottom: 10px;
}

.seccion-derecha p {
  line-height: 25px;
  color: #ffffff;
  font-size: 22px;
  margin-top: 45px;
}

.seccion-derecha p b {
  font-weight: bold;
}

.seccion-derecha .iconos {
  align-self: end;
}

.seccion-derecha .iconos img {
  width: 180px;
  margin: 180px auto 0px;
}

.imagenes img {
  width: 100%;
  height: auto;
}

/* Media Queries para Responsive Design */
@media (max-width: 1360px) {
  .seccion-derecha {
    padding: 20px 20px 0px 60px;
  }
}
@media (max-width: 1200px) {
  .seccion-izquierda {
    width: 50%; /* 50% del ancho de la pantalla */
  }
  .seccion-derecha {
    width: 50%; /* 50% del ancho de la pantalla */
  }
  .seccion-derecha .iconos img {
    margin: 120px auto 0px;
  }
}
@media (max-width: 768px) {
  .imagenes {
    grid-template-columns: repeat(2, 1fr); /* 2 imágenes por fila */
  }
  .seccion-derecha {
    padding: 20px 50px 0px 0px;
  }
  .seccion-izquierda h1 {
    font-size: 40px;
  }
}
@media (max-width: 580px) {
  .contenedor {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-direction: column;
  }
  .seccion-izquierda {
    width: 90%;
    padding: 20px;
  }
  .seccion-derecha {
    width: 90%;
    padding: 20px 30px 0px 0px;
  }
  .imagenes {
    grid-template-columns: repeat(2, 1fr); /* 3 imágenes por fila */
  }
}
@media (max-width: 414px) {
  .imagenes {
    grid-template-columns: 1fr; /* 1 imagen por fila */
  }
  .seccion-izquierda {
    padding: 10px 5%;
  }
  .seccion-derecha {
    padding: 10px 5%;
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
