.contactenos{
  background-color: #9a009a;
  opacity: 0.67;
}

.contactenos__bgbanner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url("../images/BG-contactanos2.png") right center no-repeat #4a0043;
  background-size: cover;
  z-index: -1;
  background-color: #4a0043;
}

.contactenos__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  margin-bottom: 20px;
}

.contactenos__content {
  max-width: 1360px;
  margin: 0 auto;
}

.contactenos__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
}

.contact__form {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.contact__form form {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contact__form form .form__input {
  margin: 3px 5px;
  width: 100%;
  flex-direction: column;
}

.contact__form form .full__input input{
  width: 100%;
  color: #000476;
} 

.contact__form form .form__input input {
  border: 1px solid #ffffff;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.double__input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form__input--half {
  width: 48%;
  padding: 0 auto;
  margin: 3px 5px;
}

.form__input--half input {
  border: 0;
  font-size: 24px;
  line-height: 24px;
  color: #000476;
  width: 100%;
}

.contactenos__title {
  font-size: 85px;
  color: #fff;
  letter-spacing: -3px;
  padding-bottom: 25px;
  line-height: 46px;
  align-self: end;
  max-width: 360px;
  font-family: "Poppins";
  font-weight: bold;
  padding-right: 30px;
}

.contactenos__title span {
  font-size: 52px;
  color: #6e00c3;
  margin-left: -25px;
}

.contactenos__clausule {
  font-size: 12px;
  color: #fff;
  text-align: justify;
}

.contactenos__footer {
  background-color: #8100C8;
  opacity: 1;
  width: 100%;
}

.contactenos__map {
  margin: 0 50px;
}

.contactenos__map a img{
  width: 330px;
  padding-top: 70px;
  padding-bottom: 30px
}

.contactenos__logo a img {
  height: 170px;
  margin-left: -50px;
}

.form__btn {
  width: 100%;
  height: 30px;
  line-height: 26px;
  background-color: #000476;
  color: #fff;
  font-size: 20px;
  border: 1px solid #FFFFFF;
  font-family: "Poppins";
  margin-top: 15px;
}

.contactenos__footerPartners {
}

@media screen and (max-width: 414px) {

  .contactenos{
    background-color: #9a009a;
    opacity: 1;
  }

  .contactenos__bgbanner {
    width: 100%;
    height: calc(100vh + 165px);
    background-size: cover;
    z-index: -1;
    background-color: #4a0043;
  }

  .contact__form form {
    flex-wrap: wrap;
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  .contactenos__title {
    font-size: 20px;
    margin-top: 30px;
  }

  .contactenos__clausule {
    font-size: 10px;
    color: #fff;
    text-align: justify;
    margin: 0 131px;
    width: 90%;
    font-weight: bold;
  }

  .contactenos__map a img {
    width: 230px;
    padding-top: 31px;
    padding-bottom: 20px;
  }

  .contactenos__logo a img {
    height: 120px;
    margin-left: 0px;
  }
}

@media screen and ( max-width: 768px ) {

  .contactenos{
    background-color: #9a009a;
    opacity: 1;
  }
  .contactenos__bgbanner {
    width: 100%;
    height: calc(100vh + 165px);
    background-size: cover;
    z-index: -1;
    background-color: #4a0043;
  }

  .contactenos__map a img {
    width: 255px;
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .contactenos__title {
    font-size: 60px;
    color: #fff;
    margin-top: 40px;
    max-width: 270px;
  }

  .contactenos__title span {
    font-size: 42px;
  }

  .contactenos__clausule {
    font-size: 12px;
    color: #fff;
    text-align: justify;
    font-weight: bold;
    margin: 0 25px;
  }
}

@media screen and ( max-width: 1024px ) {

  .contactenos__bgbanner {
    width: 100%;
    height: 104vh;
    background-size: cover;
    z-index: -1;
    background-color: #4a0043;
  }

  .contactenos__map a img {
    width: 265px;
    padding-top: 70px;
    padding-bottom: 30px;
  }
}